@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('../../fonts/LouisGeorgeCafe.woff2') format('woff2'),
        url('../../fonts/LouisGeorgeCafe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}