$transition: all 0.2s ease;

$size-up: scale(110%);
$size-down: scale(90%);

.mobile-only {
    display: block;
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.desktop-only {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}