@mixin borderRad($radius) {
    border-radius: $radius 20px $radius 20px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition() {
    transition: all .5s ease-in-out;
}