@use 'fonts';

$primary-color: #610808;
$secondary-color: #320E0E;
$accent-color: #FF5E96;
$body-text-color: #C59898;
$heading-font-family: 'lgc', helvetica, arial;
$body-font-family: 'cherry', helvetica, arial, sans-serif;
$base-font-weight: 400;
$base-font-size: 14px;
