@use 'fonts';

$primary-color: #961616;
$secondary-color: #300505;
$accent-color: #ff0000;
$body-text-color: #ffffff;
$heading-font-family: 'LouisGeorgeCafe', helvetica, arial;
$body-font-family: helvetica, arial, sans-serif;
$background-color: black;
$base-font-weight: 400;
$base-font-size: 16px;
