@use '../abstracts' as a;

.case-study-box {
    border: 2px solid a.$accent-color;
    border-radius: 1rem;
    margin: 2rem 0;

    padding: 3rem;
}

@media screen and (min-width: 768px) {

    .case-study-box {
        border: 4px solid a.$accent-color;

        padding: 4rem;
    }
}