@use '../abstracts' as a;

#contactForm {
    display: block;
}

.contact-field-con {
    display: flex;
    flex-direction: column;
}

#contact label {
    opacity: 0.5;
    padding-top: 30px;
    padding-bottom: 10px;
}

input {
    field-sizing: content;
    min-inline-size: 2ch;
    max-inline-size: 40ch;
}

input, textarea {
    padding: 20px;
    font-size: 20px;
    color: a.$white;
    background-color: a.$secondary-color;
    border: none;
}

input::placeholder, textarea::placeholder {
    color: a.$white;
    border-bottom: 1px solid a.$white;
    font-size: 20px;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: a.$accent-color;
    transition: all 0.5s ease;
}

textarea {
    resize: none;
    height: 200px;
}

@media screen and (min-width: 768px) {
    #contact label {
        padding-top: 50px;
        font-size: 150%;
    }

    input {
        font-size: 30px;
    }

    textarea {
        height: 300px;
    }

    #feedback-con {
        text-align: center;
        font-size: 150%;
    }
}