@use '../abstracts' as a;

footer {
    background-color: a.$secondary-color;
    text-align: center;

    h3 {
        text-align: left;
        display: inline-block;
        padding-bottom: 1%;
        margin-bottom: 1rem;
        border-bottom: 2px solid a.$accent-color;
    }
}

.footer-section {
    padding: 2rem;
}

#footer-text-con {
    padding: 2rem 0;
}

.footer-cta-con a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: a.$tertiary-color;
}

#footer-socials-icons-con {
    display: flex;
    margin: auto;

    img {
        filter: brightness(0) invert(1);
        width: 75%;
    }
}

.footer-closing-text {
    padding: 2rem;
}

@media screen and (min-width: 768px) {

    #footer-logo-text-con {
        text-align: left;
    }
}