@use '../abstracts';

.gallery-image {
    width: 100%;
    height: 100%;
}

.gallery-con, .button-con {
    padding-top: 20px;
}

.gallery-image {
    border-radius: 20px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
    filter: grayscale(50%);
}

.gallery-image:hover {
    filter: grayscale(0);
    transition: all 0.5s ease;
}

.button-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-con button {
    max-width: 25%;
    max-height: 15%;
}

@media screen and (min-width: 768px) {
    .gallery-con, .button-con {
        padding-top: 50px;
    }
}