@use '../abstracts' as a;

#intro {
    font-family: 'cherry';
    margin-top: 1rem;

    p {
        font-size: 200%;
        background-color: a.$secondary-color;
        padding: 1rem;
    }
}

#intro-button-con {
    display: flex;
    align-items: center;
    background-color: a.$secondary-color;

}

.intro-button-box {
    cursor: pointer;
}

.intro-button-box:hover {
    transition: a.$transition;
    transform: a.$size-up;
}

.intro-button-box:active {
    transform: a.$size-down;
}

.intro-button-box:nth-child(2) {
    margin-left: auto; 
    margin-right: 1rem;
}

#hero-svg-con {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) { 
    
    #intro {
        margin-top: 15%;
    }

    #intro-button-con {
        margin-top: 15%; //15% is the counter to the nav bar
    }

    #intro-button-con {
        background-color: transparent;
        
        svg {
            fill: a.$primary-color;
        }
    }

    #hero-svg-con {
        width: 50%;
        position: absolute;
        top: 15%;
        right: 0;
    }
}