@use '../abstracts' as a;

#projects {
    position: relative;
}

#projects-text-con {
    background-color: a.$primary-color;
    box-shadow: a.$boxshadow;
    padding: 2rem;
    
    p {
        margin: 1rem 0;
    }
}

.project-box {
    position: relative;
    overflow: hidden;
}

.project-box-a {
    text-decoration: none;
    color: a.$tertiary-color;
    opacity: 1; // reference this for JS later
    transition: a.$transition; 

    h3 {
        position: absolute;
        top: 20%;
        color: a.$accent-color;
    }

    p {
        position: absolute;
        top: 35%;
    }

    h3, p {
        margin: 3rem;
        z-index: 2;
    }
}

.project-selection-details {
    background-color: a.$primary-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.project-skills-p {
    width: 75%;
    margin: auto;
}

.project-selection-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(20%);
    z-index: 1;
    transition: a.$transition;
}

.project-selection-image:hover {
    filter: brightness(100%);
    transform: a.$size-up;
}

.link-con {
    display: flex;
}

.link-con img {
    max-width: 30px;
    height: fit-content;
}

#projects-button {
    background-color: a.$primary-color;
    text-align: right;
    padding: 2rem;
}

@media screen and (min-width: 768px) {

    #projects {
        margin-top: 2rem;
    }

    #projects-project-con {
        display: flex;
        flex-direction: row;
    }

    .project-box {
        flex: 1;

        // mimicing longer pictures
        padding-bottom: 30rem;
        background-color: a.$primary-color;
    }

    .project-box-a {

        h3 {
            top: 10%;
            color: a.$accent-color;
        }

        p {
            top: 50%;
        }
    }

    .project-skills-p {
        font-size: 75%;
    }
}