@use '../abstracts';

#video-player-con {
    background-color: abstracts.$primary-color;
    padding: 10px;
    border-radius: 20px;
}

.video-controls.hidden {
    display: none;
}

#video-player-con {
    position: relative;
}

.video-controls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, rgb(97, 8, 8, 0.7), rgba(0, 0, 0, 0.404));
    display: flex;
    transition: all 0.5s ease;
}

.video-controls.hide {
    opacity: 0;
    pointer-events: none;
}

.video-player-button {
    background-color: transparent;
    border: none;
    max-width: 50px;
    cursor: pointer;
}

#mute-button {
    margin-left: auto;
}

.video-player-button:hover {
    transform: scale(110%);
    transition: all 0.5s ease;
}

.video-player-button:active {
    transform: scale(75%);
    transition: all 0.5s ease;
    filter: grayscale(50%);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    background-color: abstracts.$primary-color;
    border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    color: abstracts.$accent-color;
    cursor: pointer;
    border-radius: 20px;
    margin-top: -4.5px;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid abstracts.$accent-color;
    outline-offset: 2px;
}

@media screen and (min-width: 768px) {
    #video-player-con {
        padding: 30px;
    }

    .video-controls {
        padding: 5px;
    }

    .video-player-button {
        max-width: 100px;
    }
}