@use '../abstracts';

body {
    font-family: 'lgc';
    color: abstracts.$body-text-color;
}

h1, h2, h3, h4 {
    font-family: 'cherry';
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    color: abstracts.$accent-color;
    font-size: 16px;
}

p {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }
}