@use '../abstracts' as a;

#contact {
    background-color: a.$primary-color;
    margin-top: 4rem;
    padding: 4rem 2rem;
    box-shadow: a.$boxshadow;

    p {
        padding: 1rem;
    }

    a {
        text-decoration: none;
        color: a.$accent-color;
    }
}

.req-p {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #contact {
        margin-top: 8rem;
        padding: 4rem;

        p {
            padding: 2rem;
        }
    }
}