@use '../abstracts';

#contact {
    padding-top: 20%;
    margin-bottom: 20px;
}

#contact img.res-img {
    box-shadow: none;
}

#contact h2 {
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    #contact h2 {
        margin-bottom: 100px;
    }
}