@use '../abstracts';
.hidden {
    display: none;
}

main img {
    // background-color: gray;
    height: 100px;
}

body {
    background-color: abstracts.$secondary-color;
}

.btn {
    background-color: abstracts.$secondary-color;
    color: abstracts.$accent-color;
    border: 1px solid abstracts.$accent-color;
    border-radius: 20px;
    padding: clamp(15px, 20px, 25px);
    cursor: pointer;
    box-shadow: 4px 4px 0px abstracts.$accent-color;
}

.btn:hover {
    background-color: abstracts.$accent-color;
    transition: 0.5s ease;
    color: abstracts.$primary-color;
    scale: (110%);
}

.btn:active {
    background-color: abstracts.$secondary-color;
    color: abstracts.$accent-color;
    box-shadow: 0 0 0;
    scale: (90%);
}

.text-con {
    background-color: abstracts.$primary-color;
    padding: clamp(5px, 10px, 15px)
}

span {
    color: abstracts.$accent-color;
}

section {
    padding-bottom: 100px;
}

#intro {
    padding-top: 10%;
    margin-bottom: 20px;
}

.left-align {
    text-align: left;
    justify-content: left;
}

.center-align {
    text-align: center;
    justify-content: center;
}

.right-align {
    text-align: right;
    justify-content: right;
}

.link-con {
    display: flex;
}

.link-con img {
    max-width: 50px;
    height: fit-content;
}

#projects h4 {
    padding-top: 50px;
}

#projects h3, #projects .text-con, #projects p, #projects .link-con {
    padding-top: 10px;
}

#reel h2, #skills h2 {
    padding-bottom: 30px;
}

.res-img {
    border-radius: 20px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    section {
        padding-bottom: 200px;
    }
    
    .text-con {
        padding: clamp(15px, 25px, 35px);
    }

    #hire-me {
        font-size: 54px;
    }    

    #about h2 {
        text-align: right;
    }

    #about .text-con {
        text-align: right;
    }

    #projects h2 {
        text-align: center;
    }

    #projects h4 {
        padding-top: 100px;
    }

    #projects h3, #projects .text-con, #projects p, #projects .link-con {
        padding-top: 20px;
    }

    #reel h2, #skills h2 {
        padding-bottom: 80px;
    }
}
